.product_destacado{
    width: 400px;
    height: 250px;
}
.ficha_producto{
    width: 600px;
    height: 350px;
}
.ficha_producto2{
    width: 500px;
    height: 350px;
}

.producto_destacado{
    width: 200px;
    height: 200px;
}